@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

canvas{
    border: 1px solid black;
}

.col-lg-6{
    text-align: center;
}

.col-lg-12{
    text-align: center;
}

.headder{
    margin: auto;
}